Django
Pillow
click
cssselect==0.9.1
dj-database-url
django-date-extensions==1.0.0
django-leaflet==0.14.1
django-markdown-deux==1.0.5
django-suit==0.2.9
django-suit-redactor==0.0.2
icalendar==3.8.4
lxml==3.4.0
markdown2==2.3.0
psycopg2
pyquery==1.2.9
pytz
raven
requests
six==1.7.3
uWSGI
whitenoise==1.0.3
wsgiref==0.1.2
